@{
    ViewData["Title"] = "About";
}

<h2>Authors</h2>
<address>
    <strong>Dongqi Li</strong> <a href="mailto:dli9@my.harrisburgu.edu">dli9@my.harrisburgu.edu</a><br />
    <strong>Xingtan Hu</strong> <a href="mailto:xhu12@my.harrisburgu.edu">xhu12@my.harrisburgu.edu</a><br />
    <strong>LiFeng Wen</strong> <a href="mailto:lwen@my.harrisburgu.edu">lwen@my.harrisburgu.edu</a><br />
</address>
