@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center" style="background-color:transparent !important">
    <h1>Game Zone</h1>
    <p>Rent most popular games!</p>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="https://mariokart8.nintendo.com/">
                <img src="~/images/games/banners/Mario-Kart-8-Deluxe-for-Nintendo-Switch-Banner.jpg" class="img-responsive" />
            </a>
            <h1>Mario Kart Deluxe 8</h1>
            <h3>Platform: Nintendo Switch</h3>
            <p>Hit the road with the definitive version of Mario Kart 8 and play anytime, anywhere! Race your friends or 
            battle them in a revised battle mode on new and returning battle courses. Play locally in up to 4-player 
            multiplayer in 1080p while playing in TV Mode. Every track from the Wii U version, 
            including DLC, makes a glorious return. Plus, the Inklings appear as all-new guest characters, along with 
            returning favorites, such as King Boo, Dry Bones, and Bowser Jr.!</p>
        </div>
        <div class="item">
            <a href="https://www.playstation.com/en-us/explore/games/playstation-hits/">
                <img src="~/images/games/banners/PSHits.jpg" class="img-responsive" />
            </a>
            <h1>Playstation Hit Game Promo</h1>
            <h3>Platform: Playstation 4</h3>
            <p>Great Games. Great Price.From award winning epics, to family friendly favorites, PlayStation® Hits offers
             an incredible lineup of PS4™ games that are easy on the eyes, and easy on the wallet too.</p>
        </div>
        <div class="item">
            <a href="http://www.cupheadgame.com/">
                <img src="~/images/games/banners/Cuphead_Banner.jpg" class="img-responsive" />
            </a>
            <h1>Cuphead</h1>
            <h3>Platform: XBOX One, PC, Nintendo Switch</h3>
            <p>Cuphead is a classic run and gun action game heavily focused on boss battles. Inspired by cartoons of the
               1930s, the visuals and audio are painstakingly created with the same techniques of the era: traditional 
               hand drawn cel animation, watercolor backgrounds, and original jazz recordings. Play as Cuphead or Mugman
               (in single player or local co-op) as you traverse strange worlds, acquire new weapons, learn powerful 
               super moves, and discover hidden secrets while you try to pay your debt back to the devil!</p>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" style="background:none !important">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" style="background:none !important">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
